.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.pageContainer {
  width: 328px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageContainer img {
  height: 128px;
  width: 128px;
  margin-bottom: 16px;
}

.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: #0000001f !important;
}
.MuiFormLabel-root.Mui-focused {
  color: #000000bc !important;
  font-family: "Roboto", sans-serif !important;
}
.MuiOutlinedInput-root.Mui-error .MuiOutlinedInput-notchedOutline {
  border-color: #b00020 !important;
  border-width: 2px !important;
}
.MuiFormLabel-root.Mui-error {
  color: #b00020 !important;
  font-family: "Roboto", sans-serif !important;
}
.MuiButton-root {
  background-color: #c3001e !important;
  font-family: "Roboto", sans-serif !important;
  font-size: 14px !important;
}
